ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(66, 55, 48, 0.8);
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.header li a:hover:not(.active) {
  background-color: rgba(38, 30, 29, 0.3);
}

.selected {
  background-color: rgba(38, 30, 29, 0.3);
}

.active {
  background-color: rgba(38, 30, 29, 0.3);
}